.outer-discover {
  overflow-x: hidden;
  width: 100vw;
}

.discoverPage {
  display: flex;
  padding-top: 120px;
  width: 1500px;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .discoverPage {
    height: 100vh;
    margin-right: 0;
    margin-left: 15%;
    width: 3000px;
  }
  .tileBox {
    width: 3000px;
  }
}

  

@media (max-width: 1599px) and (min-width: 1280px) {
  .tileBox {
    margin-right: 0px;
    margin-left: 20px;
    min-width: 1000px;
    height: 100vh;
  }
}


.tileBox {
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  margin-left: 280px;
  padding-bottom: 300px;
  h2 {
    // margin-top: 35px;
    font-size: 32px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 400;
    color: #5A6175;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
  }

  .category {
    padding-top: 75px;
    width: 100%;
   
  }

  .categoryBox {
    display: flex;
    height: auto;
    max-width: 970px;

    .innerBox {
      display: flex;
      flex-wrap: wrap;
    }

    .pack {
      width: 245px;
      height: 300px; 
      a {
        text-decoration: none;
      }
      margin: 12px;
      img {
        width: 245px;
        height: 300px;
        border-radius: 4px;
      }

      .pack_text {
        height: 330px;
        width: 270px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: -332px;
        width: 200px;
        height: 300px;
        // padding: 12px;

        h4 {
          font-size: 24px;
          line-height: 40px;
          font-family: "ApercuPro", sans-serif;
          font-weight: 700;
          letter-spacing: 1.5px;
          padding-top: 65px;
          padding-left: 40px;
        }

        span {
          font-family: "ApercuPro", sans-serif;
          font-size: 16px;
          font-weight: 400;
          padding-left: 40px;
          margin-bottom: 30px;
        }
      }

      .progress_bar_mini {
        width: 190px;
        margin-left: 40px;
      }

    }

  }

  .featured {
    margin-top: 80px;
   
  }

  .discover {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}



.linkBox {
  font-family: "ApercuPro", sans-serif;
  font-size: 14px;
  color: #646A7D;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  position: fixed;
  z-index: 0;
  top: 200px;
  background-color: white;

  .linkHolder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    span {
      color: #F4A566;
      font-size: 14px;
      letter-spacing: 2.5px;
      margin: 0px 0px 25px 3px;
      padding-left: 11px;
      height: 20px;
    }
  
    .hashLink {
      cursor: pointer;
      text-decoration: none;
      font-family: "ApercuPro", sans-serif;
      font-size: 15px;
      color: #5A6175;
      letter-spacing: 1.2px;
      margin: 8px;
      margin-left: 20px;
      padding: 3px;
      height: 20px;
      width: auto;
      text-decoration: none;
    }
  }


  .hashLink:hover {
    color: #C3C6CD;
  }

}

@media (max-width: 1599px) and (min-width: 1280px) {
  .linkBox {
    flex: 0 1 0%;
    width: 240px;
    min-width: 240px;
    margin-top: 20px;
    margin-right: 24px;
  }
}

@media (max-width: 800px) {
  .categoryBox {
    width: 250px;
  }
}

@media (max-width: 1280px) {
  .tileBox {
    width: 100%;
    margin-left: 260px;
    .featured {
      img {
        width: 400px;
      }
    }

    .categoryBox {
      max-width: 600px;
      .pack {
        width: 180px;
        height: 220px;
      .pack_text {
        width: 170px;
        h4 {
          font-size: 16px;
          margin-top: 80px;
          margin-left: -10px;
        }
        span {
          margin-left: -5px;
        }
      }
      img {
        width: 180px;
        height: 220px;
      }
    }
  }
    .linkBox {
      width: 100px;
      margin-top: 40px;
    }
  }
} 


