
.header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  width: 100%;
  padding-left: 20px;
  padding-right: 25px;
  background-color: white;
  align-items: center;
  position: fixed;
  z-index: 3;

}

.about-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    .greeting-media-links {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-left: 4px;
        }
      }
    }
  }


.header-nav {
  width: 266px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.header-logo {
  width: auto;
  height: 48px;
  margin-top: 3px;
  margin-left: -2px;
}

.login-link, .about-link {
  border-left: #5A6175 solid 1px;
  width: auto;
  padding: 9px 10px 9px 12px;
  color: #5A6175;
  text-decoration: none;
  font-family: "ApercuPro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.75px;
  text-transform: uppercase;
}

.about-link {
  border: none;
  padding: 5px;
  font-weight: 400;
}

.about-link:last-of-type {
  margin-right: 2px;
}

.login-link:hover, .about-link:hover {
  cursor: pointer;
  color: #5A6175;
}

.signup-link {
  padding: 0px 30px;
  background-color: #0E6EF6;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  border-radius: 50px;
  width: 168px;
  height: 48px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "ApercuPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: -2px;
}

.signup-link:hover {
    background-color: #0069FF;
    color: #fff;
    cursor: pointer;
}



