 @font-face {
   font-family: "ApercuPro-Medium";
   src: url('../../fonts/ApercuPro-Medium.woff') format("truetype");
   font-family: "ApercuPro";
   src: url('../../fonts/ApercuPro.woff') format("truetype");
 }

.header {
  display: flex;
  justify-content: space-between;
  height: 95px;
  width: 99%;
  padding-left: 16px;
  background-color: white;
  align-items: center;
  position: fixed;
}

.header-nav {
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.header-logo {
  width: 221px;
  height: 48px;
}

.login-link {
  border-left: #5A6175 solid 1px;
  font-size: 12px;
  font-weight: bold;
  // margin-right: 14px;
  // padding-left: 14px;
  width: 70px;

  padding: 10px 0px 10px 14px;
  color: #5A6175;
  text-decoration: none;
}

.signup-link {
  padding: 0px 32px;
  background-color: #0E6EF6;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  border-radius: 50px;
  width: 170px;
  height: 45px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.signup-link:hover {
    background-color: #0069FF;
    cursor: pointer;
}



