.landingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.landingImage {
  height: 100vh;
}

.landingText {
  position: absolute;
  width: 635px;
  height: 410px;
  margin-left: 140px;
  margin-top: 140px;

  h1 {
    color: #5A6175;
    font-size: 86px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-bottom: 60px;
    padding-left: 4px;
  }

  p {
    font-size: 22px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 400;
    color: #666666;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  a {
    padding: 0px 20px;
    background-color: #0E6EF6;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
    border-radius: 50px;
    width: 218px;
    height: 65px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "ApercuPro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  a:hover {
    background-color: #0069FF;
    cursor: pointer;
  }

  span a {
    padding: 0px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #F17D3A;
    height: 33px;
    width: 33px;
    color: white;
    font-size: 12px;
    box-shadow: none;
    transition: color 150ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s, 
      background-color 150ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s, 
      border-color 150ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s, 
      box-shadow 150ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s, 
      transform 150ms cubic-bezier(0.32, 0.94, 0.6, 1) 0s;
  }

  span a:hover {
    background: rgb(65, 61, 69);
    border-color: transparent;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    opacity: 1;
  }

}