

.login_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.login_img {
  height: 110vh;
  left: 0;
  margin-top: -50px;
  // img {
  //   margin-top: -50px;
  // }
}

.login_form_box {
  margin-top: 85px;
  background-color: #fff;
  border-radius: 4px;
  width: 611px;
  height: 592px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_title {
  font-size: 26px;
  font-family: "ApercuPro", sans-serif;
}

.login-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .login_input {
      box-sizing: border-box;
      border: #E8E7E9 solid 1px;
      border-radius: 6px;
      width: 100%;
      padding: 20px 0px 14px 20px;
      // margin: 0px 14px;
      font-size: 20px;
      font-family: "ApercuPro", sans-serif;
      font-weight: 400;
      outline: none;
    }

    .login_input::-webkit-input-placeholder {
      color: #323233;
      font-size: 20px;
      font-family: "ApercuPro", sans-serif;
      font-weight: 400;
    }
  div {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // input:first-of-type {
    //   margin-left: 20px;
    // }
    .login_input {
      box-sizing: border-box;
      border: #E8E7E9 solid 1px;
      border-radius: 6px;
      width: 100%;
      padding: 20px 0px 14px 20px;
      // margin: 0px 14px;
      font-size: 20px;
      font-family: "ApercuPro", sans-serif;
      font-weight: 400;
      outline: none;
    }

    .login_input::-webkit-input-placeholder {
      color: #323233;
      font-size: 20px;
      font-family: "ApercuPro", sans-serif;
      font-weight: 400;
    }

    #password-input {
      margin-left: -24px;
    }
  }
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  .form_submit {
    box-sizing: border-box;
    padding: 15px 0px;
    background-color: #0E6EF6;
    color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: "ApercuPro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.5px;
    outline: none;
  }
  .demo_button {
    background-color: #FAF6F4;
    color: #323233;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    font-family: "ApercuPro-Medium", sans-serif;
    letter-spacing: 2.5px;
    outline: none;
  }
}


.form_submit:hover {
  background-color: #0069FF;
}

span {
  font-family: "ApercuPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5A6175;
}

.form_link {
  color: #F1853E;
  text-decoration: none;
  font-family: "ApercuPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form_link:hover {
  text-decoration: underline;
}


.demo_button:hover {
  color: #5B5B5C;
}

.eye-icon {
  box-sizing: content-box;
  font-size: 24px;
  height: 24px;
  width: auto;
  color: #5A6175;
  align-items: flex-end;
}

.signup-link active{
    background-color: #0069FF;
    color: #fff;
    cursor: pointer;
}

ul .error {
    align-self: flex-start;
    margin-left: 0px;
}

.error {
  text-align: left;
  color: rgb(232, 93, 74);
  font-size: 16px;
  line-height: 28px;
  margin-left: 14px;
  margin-top: 9px;
  margin-bottom: 20px;
  list-style-type: none;
  align-self: flex-start;
}

.valid {
  border: #96D9B0 solid 1px;
}

.error_input {
  border: #EE624E solid 1px;
}

@media (min-width: 320px) {
  .login_container {
    width: 100%;
  }
  .login_form_box {
    box-sizing: border-box;
    max-width: 90%;
    width: 90%;
    padding-left: 8px;
    padding-right: 8px;
    flex-basis: 90%;
  }
}

@media (max-width: 536px) and (min-width: 320px) {
  .login_container {
    width: 100%;
    .login_form_box {
      box-sizing: border-box;
      max-width: 90%;
      width: 90%;
      padding-left: 8px;
      padding-right: 8px;
      flex-basis: 90%;
      .login-inputs, .buttons {
        width: 90%;
      }
    }
  }
}


@media (max-width: 1001px) and (min-width: 536px) {
  .login_container {
    width: 100%;
    .login_form_box {
      box-sizing: border-box;
      max-width: 611px;
      width: 90%;
      padding-left: 8px;
      padding-right: 8px;
      flex-basis: 90%;
      .login-inputs, .buttons {
        width: 90%;
      }
    }
  }
}

@media (min-width: 1001px) {
  .login_container {
    width: 100%;
    .login_form_box {
      box-sizing: border-box;
      padding-left: 12px;
      padding-right: 12px;
      max-width: 611px;
      // flex-basis: 66.667%;
    }
  }
}