// audio {
//   z-index: 20;
// }

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerBackground {
  width: 100%;
  height: auto;
  z-index: 5;
}

.playBox {
  position: absolute;
  z-index: 6;
}

.hp_slide{
    width:125px;
    background:black;
    height:25px;
    // border-radius: 100%;
}
.hp_range{
    height:25px;
    width: 7px;
    background-color: purple;
}