// audio {
//   z-index: 20;
// }

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: center;
  height: 100vh;
}

.playerBackground {
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: hidden;
}

.playContainer {
  display: flex;
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 90vh;
  justify-content: space-between;
  margin-top: 30px;
  // padding-top: 65px;


}

.navBox {
  z-index: 6;
  width: 300px;
  span {
    margin-top: 8px;
    cursor: pointer;
    padding-left: 38px;
    // color: #5A6175;
    color: #413D47;
    font-size: 28px;
  }
  span:hover {
    // color: #9A8F7C;
    color: rgba(65, 61, 71, 0.6);
  }

}

.playBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  h4, p, span {
    font-family: "ApercuPro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    // color: #646A7D;
    color: #413D47;
    letter-spacing: 4px;
  }
  p{
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 15px;
  }
  span {
    // color: #9A8F7C;
    color: rgba(65, 61, 71, 0.6);
  }

  button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    // background-color: #5A6175;
    background-color: #423D47;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    outline: none;
    padding-top: 15px;
    padding-left: 5px;
  }

}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  // height: auto;
  width: 300px;

  p, span {
    font-family: "ApercuPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    // color: #646A7D;
    color: #413D47;
    letter-spacing: 2.5px;
  }
  p{
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 15px;
  }
  span {
    // color: #9A8F7C;
       color: rgba(65, 61, 71, 0.6);
  }

  button{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    // background-color: #5A6175;
    background-color: #423D47;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 40px;
    align-items: center;
    outline: none;
  }
}


.slide{
    width:200px;
    background:rgba(90,97,117, 0.2);
    height:25px;
    
    // width: 200px;
    // height: 200px;
    // border: 25px solid rgba(90,97,117, 0.2);
    // border-top: 25px solid rgba(90,97,117, 0.2);;
    // border-radius: 50%;
    //https://www.w3schools.com/howto/howto_css_loader.asp
}
.range{
    height:25px;
    width: 7px;
    background-color: rgba(90,97,117, 0.2);
}



// .rpcc-player {
//   --PI: 3.14159265358979;
//   --rpcc-ring-radius: calc((var(--rpcc-size) / 2) - (var(--rpcc-progress-size) / 2));
//   --rpcc-ring-circum: calc(var(--PI) * var(--rpcc-ring-radius) * 2);
//   --rpcc-play-button-size: calc(var(--rpcc-size) - (var(--rpcc-progress-size) * 2));
// }

// .rpcc-player-inner {
//   display: flex;
//   height: var(--rpcc-size);
//   width: var(--rpcc-size);
//   position: relative;
//   justify-content: center;
//   align-items: center;
// }

// .rpcc-ring-container {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: var(--rpcc-size);
//   width: var(--rpcc-size);
//   transform: rotate(-90deg);
// }

// .rpcc-ring {
//   cx: calc(var(--rpcc-size) / 2);
//   cy: calc(var(--rpcc-size) / 2);
//   fill: none;
//   stroke-width: var(--rpcc-progress-size);
//   r: var(--rpcc-ring-radius);
//   stroke-dasharray: var(--rpcc-ring-circum);
//   shape-rendering: optimizeQuality;
//   stroke-dashoffset: 0;
// }

// .rpcc-ring__duration {
//   stroke: var(--rpcc-ring-duration-color, var(--rpcc-color));
//   opacity: 0.1;
// }

// .rpcc-ring__loaded {
//   stroke: var(--rpcc-ring--color, var(--rpcc-color));
//   opacity: 0.2;
//   stroke-dashoffset: calc(var(--rpcc-ring-circum) * (1 - var(--rpcc-progress-loaded)));
// }

// .rpcc-ring__played {
//   stroke: var(--rpcc-ring-played-color, var(--rpcc-color));
//   opacity: 0.5;
//   stroke-dashoffset: calc(var(--rpcc-ring-circum) * (1 - var(--rpcc-progress-played)));
// }

// .rpcc-play-button {
//   display: block;
//   margin: 0;
//   padding: 0;
//   height: var(--rpcc-play-button-size);
//   width: var(--rpcc-play-button-size);
//   position: relative;
//   border: none;
//   border-radius: 50%;
//   background: var(--rpcc-button-color, var(--rpcc-color));
//   cursor: pointer;
// }

// .rpcc-play-button:active {
//   opacity: 0.9;
// }

// .rpcc-play-icon {
//     display: inline-block;
//     box-sizing: border-box;
//     width: 0;
//     height: calc(var(--rpcc-play-button-size) * 0.25);
//     margin-left: calc(var(--rpcc-play-button-size) * 0.04166666667);
//     border-color: transparent transparent transparent var(--rpcc-play-icon-color, #202020);
//     transition: 100ms all ease;
//     border-style: solid;
//     border-width: calc(var(--rpcc-play-button-size) * 0.125) 0 calc(var(--rpcc-play-button-size) * 0.125) calc(var(--rpcc-play-button-size) * 0.25);
// }

// .rpcc-play-icon.pause {
//     margin-left: 0;
//     border-style: double;
//     border-width: 0px 0 0px calc(var(--rpcc-play-button-size) * 0.25);
// }