
.signup_outer {
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.signup_inner {
  display: flex;
  position: absolute;
  justify-content: space-around;
  margin-top: -145px;
  width: 100%;
  height: 500px;
}

.signup_img {
  width: 108%;
  // height: 100vh;
  margin-top: 93px;
  margin-left: -59px;
  left: 0;
}

.signup_form_box {
  margin-top: -4px;
  padding-top: 30px;
  margin-right: 50px;
  background-color: #fff;
  border-radius: 4px;
  width: 605px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  span { // moved into this box
    font-family: "ApercuPro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5A6175;
  }

}


.form_title {
  font-size: 27px;
  font-family: "ApercuPro-Medium", sans-serif;
  color: #323233;
  letter-spacing: 1.15px;
  margin-bottom: 10px;
}

.signup_input {
  box-sizing: border-box;
  border: #E8E7E9 solid 1px;
  border-radius: 6px;
  width: 550px;
  padding: 20px 0px 14px 20px;
  margin: 2.5px 14px;
  font-size: 20px;
  font-family: "ApercuPro", sans-serif;
  font-weight: 400;
}

.signup_input::-webkit-input-placeholder {
  color: #323233;
  font-size: 20px;
  font-family: "ApercuPro", sans-serif;
  font-weight: 400;
}

.form_submit {
  padding: 15px 32px;
  background-color: #0E6EF6;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  width: 550px;
  font-family: "ApercuPro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.5px;
  outline: none;
}

.form_submit:hover {
  background-color: #0069FF;
}


.form_link {
  color: #F1853E;
  text-decoration: none;
  font-family: "ApercuPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form_link:hover {
  text-decoration: underline;
}

.demo_button {
  background-color: #FAF6F4;
  color: #323233;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  padding: 15px 32px;
  width: 550px;
  font-size: 12px;
  font-weight: 700;
  font-family: "ApercuPro-Medium", sans-serif;
  letter-spacing: 2.5px;
  outline: none;
}

.demo_button:hover {
  color: #5B5B5C;
}

.tag_line {
  color: #5A6175;
  font-size: 42px;
  font-family: "ApercuPro", sans-serif;
  font-weight: 00;
  line-height: 52px;
  letter-spacing: 1.75px;
}

.check_icon {
  color: #5A6175;
  font-size: 16px;
  font-weight: 700;
}

li {
  font-family: "ApercuPro", sans-serif;
  color: #757A8A;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  .special_li {
    width: 30px;
  }
}

.text_block {
  margin-left: 30px;
  padding-left: 20px;
  h1:last-of-type {
    margin-bottom: 25px;
  }
}

.eye-icon {
  box-sizing: content-box;
  margin-left: -50px;
  font-size: 24px;
  height: 24px;
  width: auto;
  color: #5A6175;
}