.dashHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.med_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 95px;
  width: 100vw;
}

.dashBackground {
  height: 548px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  img {
    margin-top: -150px;
    width: 100%;
    height: auto;
  }
}

.med_title {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: auto;
  height: 300px;
  margin-right: 200px;
  padding-top: 20px;
  margin-left: 20%;

  h1 {
    color: #413D47;
    font-size: 86px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 700;
    letter-spacing: 2.5px;
  }

  h4 {
    font-size: 22px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 400;
    color: #413D47;
    letter-spacing: 1.5px;
    padding-bottom: 10px;
  }
  
  button, a {
    color: white;
    background-color: #413D47;
    padding: 21px 30px;
    cursor: pointer;
    outline:none;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    font-family: "ApercuPro-Medium", sans-serif;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
  }

  button:hover, a:hover {
    // background-color: #515769;
    background-color: rgb(58, 54, 63);
  }
}




.progress_bar {
  display: flex;
  position: relative;
  margin-top: -13px;
  margin-bottom: 90px;
  width: 100%;
  height: 13px;
  background-color: rgba(255,255,255, 0.2);
}

.progress_bar_mini {
  background-color: rgba(255,255,255, 0.2);
  width: 255px;
  border-radius: 50px;
  height: 6px;
  margin-top: 20px;
}

.mini_rectangle {
  border-radius: 50px;
  height: 6px;
}

.packsTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  h1 {
    font-size: 32px;
    font-family: "ApercuPro", sans-serif;
    font-weight: 400;
    // color: #666666;
    color: #666666;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
  }

  span {
    font-family: "ApercuPro", sans-serif;
    // color: #757A8A;
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

}

.packsDash {
  margin-top: 85px;
  display: flex;
  width: 1070px;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .pack {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 412px;
    margin: 12px;
    a {
      text-decoration: none;
    }
    img {
      width: 330px;
      height: 410px;
      border-radius: 10px;
    }

    .pack_text {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: -350px;
      margin-left: 45px;
      height: 300px;
      width: 225px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    h4 {
      font-size: 32px;
      line-height: 40px;
      font-family: "ApercuPro", sans-serif;
      font-weight: 700;
      letter-spacing: 1.5px;
    }

    span {
      font-family: "ApercuPro", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }

  }
}

.show_button {
  border: 2px solid #5A6175;
  border-radius: 50px;
  color: #5A6175;
  font-size: 13px;
  font-weight: 700;
  font-family: "ApercuPro-Medium", sans-serif;
  letter-spacing: 2.5px;
  background-color: #fff;
  padding: 20px 32px;
  margin: 56px;
  cursor: pointer;
  outline:none;
  transition: all 0.2s ease-in-out 0s;
  .Link {
    font-family: "ApercuPro-Medium", sans-serif;
  }
}

.show_button:hover {
  color: white;
  background-color: #5A6175;
  a {
    color: white;
  }
}

button {

  a {
    text-decoration: none;
    color: #5A6175;
    padding: 15px 25px;
  }

  a:hover {
    color: white;
  }

}

@media (max-width: 959px) {
  .dashBackground {
    height: 450px;
    img {
      height: 850px;
    }
  }
  .med_title {
    flex: 0 1 0%;
    width: 560px;
    min-width: 560px;
    margin-left: 7%;
    margin-top: 50px;
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 16px;
    }
    button {
      padding: 15px 34px;
      font-size: 11px;
      font-weight: 400;
    }
  }
  .packsTitle {
    margin-bottom: 15px;
    h1 {
      font-size: 20px;
    }
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .packsDash {

    min-width: 500px;
    width: 90%;
    padding-left: 10%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .pack {
        width: 180px;
        height: 220px;
        margin: 10px;
      .pack_text {
        width: 150px;
        height: 180px;
        margin-left: 25px;
        margin-top: -200px;

        h4 {
          font-size: 16px;
          width: 100px;
        }
        span {
          font-size: 14px;
        }
        .progress_bar_mini {
          width: 130px;
          margin-left: 0px;
        }
      }
      img {
        width: 180px;
        height: 220px;
      }
    }
  
  }
  .show_button {
    padding: 12px 18px;
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  // .med_title {
  //   width: 1032px;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}


