
.user_header {
  display: flex;
  justify-content: space-between;
  height: 128px;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 3;
  border-bottom: #EFECE7 solid 2px;
}

.header-logo-small {
  width: 160px;
  height: auto;
  padding-left: 90px;
  padding-top: 12px;
}

.user_nav {
  width: 450px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 28px;
  justify-content: space-around;

  button {
    font-family: "ApercuPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #646A7D;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    outline: none;
  }

  span:hover, button:hover {
    color: #C3C6CD;
  }

  span:selected, button:selected {
    color: #F4A566;
    outline: none;
  }

}

.profile_link {
  font-family: "ApercuPro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646A7D;
  letter-spacing: 1.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.profile_pic {
  width: 38px;
  height: 38px;
}