
.user_header {
  display: flex;
  justify-content: space-between;
  height: 128px;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 4;
  border-bottom: #EFECE7 solid 2px;
  position: fixed;
}

.header-logo-small {
  width: auto;
  height: 32px;
  margin-top: 2px;
  margin-left: 83px;
}

.user_nav {
  width: 370px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 28px;
  justify-content: space-around;

  button {
    font-family: "ApercuPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #646A7D;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    outline: none;
  }

  span:hover, .headerLink:hover {
    color: #C3C6CD;
    // opacity: 0.7;
  }

  // span:selected, button:selected {
  //   color: #F4A566;
  //   outline: none;
  // }

  .headerLink {
    text-decoration: none;
    font-family: "ApercuPro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #646A7D;
    letter-spacing: 1.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    outline: none;
  }

}


// .profile_link {
//   font-family: "ApercuPro", sans-serif;
//   font-size: 14px;
//   font-weight: 400;
//   color: #646A7D;
//   letter-spacing: 1.5px;
//   cursor: pointer;
//   // display: flex;
//   // align-items: center;
//   margin-right: 14px;
//   position: relative;
//   display: inline-block;
// }

.profile_pic {
  width: 38px;
  height: 38px;
  opacity: 1;
}

.headerLink:hover img {
  opacity: 0.6;
}

// .profile_link:hover .profile-dropdown {
//   display: block;
// }

// .profile-dropdown {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

nav .active:hover {
  color: #F4A566;
  cursor: default;
}

.header-nav .active:hover {
  cursor: pointer;
  color: #5A6175;
}

.header-nav .signup-link:hover {
    background-color: #0069FF;
    color: #fff;
    cursor: pointer;
}
